{% extends "mypassword_base.html" %}
{% block title%} {{ title }} {% endblock %}
{% block content%}

<div class="container py-4 text-center" >
<h1>Assets</h1>
<table align="center" border 1 id="assets" >
    <thead>
    <tr>
        <th class="Asset ID">Asset ID</th>
        <th class="Asset Name">Asset Name</th>
        <th class="Asset Description">Asset Description</th>
        <th class="Asset IPAddress">Asset IPAddress</th>
        <th class="Asset Permited User Ids">Users</th>
        <th class="Asset Permited Group Ids">Groups</th>
        <th class="Asset IT Service">IT Service</th>
    </tr>
    </thead>
{% for asset in assets %}
    <tr>
        <td class="Asset ID">{{asset.id}}</td>
        <td class="Asset Name">{{asset.assetname}}</td>
        <td class="Asset Description">{{asset.assetdescription}}</td>
        <td class="Asset IPAddress">{{asset.assetipaddress}}</td>
        <td class="Asset Permited User Ids">{{asset.permiteduserid}}</td>
        <td class="Asset Permited Group Ids">{{asset.permitedgroupid}}</td>
        <td class="Asset Permited Group Ids">{{asset.assetItService}}</td>
    </tr>
{% endfor %}
</table>

    </div>
{% endblock %}