{% extends "mypassword_base.html" %}
{% block title%} {{ title }} {% endblock %}
{% block content%}

<div class="container py-4 text-center" >

<TABLE align="center" border 1 id="assets">

        <thead>
    <tr>
        <th class="Asset ID">Asset ID</th>
        <th class="Asset Name">Asset Name</th>
        <th class="Asset Description">Asset Description</th>
        <th class="Asset IPAddress">Asset IPAddress</th>
        <th class="Asset User">Asset User</th>
        <th class="Asset Password">Asset Password</th>
        <th class="Asset Permited User Ids">Asset Permited User Ids</th>
        <th class="Asset Permited Group Ids">Asset Permited Group Ids</th>
        <th class="Asset Asset Groups">Asset Groups</th>
        <th class="Asset Notes">Asset Notes</th>
        <th class="Asset Update"></th>
    </tr>
    </thead>
<TR>
<TD class="Asset ID">{{asset.id}}</td>
<TD class="Asset Name">{{asset.assetname}}</td>
<TD class="Asset Description">{{asset.assetdescription}}</td>
<TD class="Asset IPAddress">{{asset.assetipaddress}}</td>
<TD class="Asset User">{{asset.assetuser}}</td>
<TD class="Asset Password">{{asset.assetpwd}}</td>
<TD class="Asset Permited User Ids">

        <!-- Trigger/Open The Modal -->
        <button id="myBtn">Permited Users</button>

        <!-- The Modal -->
        <div id="myModal" class="modal">

          <!-- Modal content -->
          <div class="modal-content">
            <span class="close">&times;</span>
              <div class="container py-4 text-center" >
                  <TABLE align="center" border 1 id="assets">
                    <thead>
                    <tr>
                        <th class="Asset User"><center>Asset Users</center></th>
                    </tr>
                    </thead>
                    {% for asset_permited_user in asset_permited_users %}
                    <TR>
	                    <TD class="Asset User">{{asset_permited_user}}</td>
                    </TR>
                    {% endfor %}
                </TABLE>
              </div>
                </div>
        </div>
</td>
<TD class="Asset Permited Group Ids">

        <!-- Trigger/Open The Modal -->
        <button id="myPermitedGroupsBtn">Permited Groups</button>

        <!-- The Modal -->
        <div id="myPermitedGroupsModal" class="modal">

          <!-- Modal content -->
          <div class="modal-content">
            <span class="myPermitedGroupsClose">&times;</span>
              <div class="container py-4 text-center" >
                  <TABLE align="center" border 1 id="assets">
                    <thead>
                    <tr>
                        <th class="Asset User Group"><center>Asset User Groups Name</center></th>
                    </tr>
                    </thead>
                    {% for assetusergroup in asset_permited_groups %}
                    <TR>
	                    <TD class="Asset Group">{{assetusergroup}}</td>
                    </TR>
                    {% endfor %}
                </TABLE>
              </div>
          </div>
        </div>
</td>
<TD class="Asset Asset Groups">
        <!-- Trigger/Open The Modal -->
        <button id="myAssetGroupsBtn">Asset Groups</button>

        <!-- The Modal -->
        <div id="myAssetGroupsModal" class="modal">

          <!-- Modal content -->
          <div class="modal-content">
            <span class="myAssetGroupsClose">&times;</span>
              <div class="container py-4 text-center" >
                <TABLE align="center" border 1 id="assets">
                    <thead>
                    <tr>
                        <th class="Asset Group"><center>Asset Group Name</center></th>
                    </tr>
                    </thead>
                    {% for assetgroup in asset_group_names %}
                    <TR>
	                    <TD class="Asset Group">{{assetgroup[0][0]}}</td>
                    </TR>
                    {% endfor %}
                </TABLE>
              </div>
        </div>
</td>
    <TD class="Asset User">{{asset.assetnotes}}</td>
<td class="Update"><a  href="/assets/{{asset.id}}/assetupdate">Edit Asset</a></td>
</tr>
</table>
    </div>

<div class="container py-4 text-center" >
<center>Audit Log</center>
<TABLE align="center" border 1 id="assets">

        <thead>
    <tr>
        <th class="Audit ID">Audit ID</th>
        <th class="Audit ID">User ID</th>
        <th class="Asset ID">Asset ID</th>
        <th class="Asset ID">Time Stamp</th>
        <th class="Asset ID">Edit/View</th>
    </tr>
    </thead>
    {% for item in audit %}
    <TR>
        <TD class="Asset ID">{{item.id}}</td>
        <TD class="Asset ID">{{item.userid}}</td>
        <TD class="Asset ID">{{item.assetid}}</td>
        <TD class="Asset ID">{{item.created_date}}</td>
        <TD class="Asset ID">{{item.method}}</td>
    </tr>
    {% endfor %}
</table>
</div>
{% endblock %}

