{% extends "mypassword_base.html" %}
{% block title%} {{ title }} {% endblock %}
{% block content%}
<div class="container py-4 text-center">
<form action='' method = "POST">
  <p>Asset Name <input type = "text" name = "assetname" /></p>
  <p>Asset Description<input type = "text" name = "assetdescription" /></p>
  <p>Asset IP Address <input type = "text" name = "assetipaddress" /></p>
  <p>Asset Username <input type = "text" name = "assetuser" /></p>
  <p>Asset Password <input type = "text" name = "assetpwd" /></p>
  <p>Permited User Id List <input type = "text" name = "permiteduserid" /></p>
  <p>Permited Group List <input type = "text" name = "permitedgroupid" /></p>
  <p>Asset Groups <input type = "text" name = "assetgroups" /></p>
  <p><input type = "submit" value = "Submit" /></p>
</form>
</div>
{% endblock %}