{% extends "mypassword_base.html" %}
{% block title%} {{ title }} {% endblock %}
{% block content%}

<div class="container py-4 text-center">
<table align="center" border 1 id="assets">
    <thead>
    <tr>
        <th class="Group ID">Group ID</th>
        <th class="Group Name">Group Name</th>
        <th class="Update">Update</th>
    </tr>
    </thead>
{% for group in groups %}
    <tr>
        <td class="Group ID">{{group.id}}</td>
        <td class="Group Name">{{group.groupname}}</td>
        <td class="Update"><a  href="/groups/{{group.id}}/groupupdate">Edit Group</a></td>
    </tr>
{% endfor %}
</table>
        </div>
{% endblock %}