{% extends "base.html" %}
{% block title%} {{ title }} {% endblock %}
{% block content%}

<div class="container py-4 text-center">


    {% if current_user.is_authenticated %}
         {% if current_user.username == 'something' %}
            <h1>Welcome something</h1>
            <hr>
            <hr>
            <a href="{{url_for('logout')}}">Logout</a>
         {% else %}
            <h1>Welcome {{ current_user.username }}</h1>
            <hr>
            <a href="/mypasswords">my Passwords</a><br>
            <a href="/assets/create">Add an Asset</a>
                {% if 1 in current_user.usergroupid.split(',') | map('int') | list %}
                <hr>
                      Welcome Password Admin
                <div>
                    <tr>Manage Groups</tr>
                    <div>
                        <td><a href="/groups">List Groups</a></td>
                        <td><a href="/groups/create">Create a Group</a></td>
                    </div>
                </div>
    <br>
                <div>
                    <tr>Manage Users</tr>
                    <div>
                        <td><a href="/users">List Users</a></td>
                    </div>
                </div>
                {% endif %}

            <hr>
            <a href="{{url_for('logout')}}">Logout</a>
        {% endif %}
    {% else %}

    <a href="{{url_for('login')}}">Sign in/Sign Up</a>
    
    {% endif %}
</div>
{% endblock %}