{% extends "mypassword_base.html" %}
{% block title%} {{ title }} {% endblock %}
{% block content%}

<div class="container-fluid py-1 text-center" style="overflow-x:auto;">

<h1>User Assets</h1>
<table align="center" border 1 id="assets" >
    <thead>
    <tr>
        <th class="Asset ID">Asset ID</th>
        <th class="Asset Name">Asset Name</th>
        <th class="Asset Description">Asset Description</th>
        <th class="Asset IPAddress">Asset IPAddress</th>
        <th class="Asset User">Asset User</th>
        <th class="Asset Notes">Asset Notes</th>
        <th class="Asset Password">Asset Password</th>
        <!--
        <th class="Asset Permited User Ids">Asset Permited User Ids</th>
        <th class="Asset Permited Group Ids">Asset Permited Group Ids</th>
        -->
        <th class="Asset Update">Update</th>
    </tr>
    </thead>
{% for asset in user_assets %}
    <tr>
        <td class="Asset ID">{{asset.id}}</td>
        <td class="Asset Name">{{asset.assetname}}</td>
        <td class="Asset Description">{{asset.assetdescription}}</td>
        <td class="Asset IPAddress">{{asset.assetipaddress}}</td>
        <td class="Asset User">{{asset.assetuser}}</td>
        <td class="Asset Notes">{{asset.assetnotes}}</td>
        <td class="Asset Password"><a  href="/assets/{{asset.id}}">Show Pass</a></td>
        <!--
        <td class="Asset Permited User Ids">{{asset.permiteduserid}}</td>
        <td class="Asset Permited Group Ids">{{asset.permitedgroupid}}</td>
        -->
        <td class="Update"><a  href="/assets/{{asset.id}}/assetupdate">Edit Asset</a></td>
    </tr>
{% endfor %}
</table>
</div>
<br>

<div class="container-fluid py-1 text-center" style="overflow-x:auto;">
<h1>Group Assets</h1>
<table align="center" border 1 id="assets" >
    <thead>
    <tr>
        <th class="Asset ID">Asset ID</th>
        <th class="Asset Name">Asset Name</th>
        <th class="Asset Description">Asset Description</th>
        <th class="Asset IPAddress">Asset IPAddress</th>
        <th class="Asset User">Asset User</th>
        <th class="Asset Notes">Asset Notes</th>
        <th class="Asset Password">Asset Password</th>
        <!--
        <th class="Asset Permited User Ids">Asset Permited User Ids</th>
        <th class="Asset Permited Group Ids">Asset Permited Group Ids</th>
        -->
        <th class="Asset Update">Update</th>
    </tr>
    </thead>
{% for asset in user_group_assets %}
    <tr>
        <td class="Asset ID">{{asset.id}}</td>
        <td class="Asset Name">{{asset.assetname}}</td>
        <td class="Asset Description">{{asset.assetdescription}}</td>
        <td class="Asset IPAddress">{{asset.assetipaddress}}</td>
        <td class="Asset User">{{asset.assetuser}}</td>
        <td class="Asset Notes">{{asset.assetnotes}}</td>
        <td class="Asset Password"><a  href="/assets/{{asset.id}}">Show Pass</a></td>
        <!--
        <td class="Asset Permited User Ids">{{asset.permiteduserid}}</td>
        <td class="Asset Permited Group Ids">{{asset.permitedgroupid}}</td>
        -->
        <td class="Update"><a  href="/assets/{{asset.id}}/assetupdate">Edit Asset</a></td>
    </tr>
{% endfor %}
</table>
    </p>


{% endblock %}
