{% extends "mypassword_base.html" %}
{% block title%} {{ title }} {% endblock %}
{% block content%}
<div class="container">
    <div class="row mt-4">
        <div class="col-lg-5 col-md-6 m-auto card p-4">
            <form action="{{ request.path }}" method="POST" class="card-body">
                {{ form.csrf_token }}

                {% with messages = get_flashed_messages(with_categories=true) %}
                <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}

                <div class="text-right">
                    <h5>Search for Assets</h5>
                    <br>
                </div>

                {% if request.path == '/search' %}

                <div class="form-group mb-3">
                    {{ form.search_item(class_="form-control",placeholder="string search") }}
                </div>
                {% for error in form.search_item.errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ error }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div> {% endfor%}
                {% endif%}
                {% if request.path == '/search' %}

                {% endif %}
                <div class="text-center">

                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-block btn-primary mb-3"> {{ btn_action }} </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}