{% extends "update_base.html" %}
{% block title%} {{ title }}

{% endblock %}

{% block content%}
<div class="container py-1 text-center">
<form action='' method = "POST">
<table align="center" border 1 id="assets" >
  <thead>
    <tr>
        <th class="item"></th>
        <th class="value"></th>
    </tr>
  </thead>
    <tr>
        <td class="item">User Name</td>
        <td class="value"><input type = "text" name = "username" value="{{user.username}}"/></td>
    </tr>
    <tr>
        <td class="item">eMail</td>
        <td class="value"><input type = "text" name = "email" value="{{user.email}}"/></td>
    </tr>
     <tr>
        <td class="item">User Groups</td>
        <td class="value"><input type = "text" name = "usergroupid" value="{{user.usergroupid}}"/></td>
    </tr>
    <tr>
        <td class="item">User Groups2</td>
        <td class="value">
  </td>
    </tr>
</table>
    <br>
<p><input type="button" value="Cancel" onclick="history.back()"><input type = "submit" value = "Submit" /></p>
</form>
</div>
<hr>
{{all_user_groups}}
{{this_user_groups}}
<hr>




 <br /><br />
  <div class="container py-1 text-center">
   <br />
   <h2 align="center">Python Flask Multiple Select option using Bootstrap Select Plugin and Jquery Ajax Mysqli database</h2>
   <br />
   <div class="col-md-4" style="margin-left:200px;">
    <form method="post" id="multiple_select_form">
     <select name="skills" id="skills" class="form-control selectpicker" data-live-search="true" multiple>

        {% for group in all_user_groups%}
          <option value="{{group[0]}}>">{{group[1]}}</option>
        {% endfor %}
     </select>
     <br /><br />
     <input type="hidden" name="hidden_skills" id="hidden_skills" />
     <input type="submit" name="submit" class="btn btn-info" value="Submit" />
    </form>
    <br />
   </div>
  </div>

 <script>
    $(document).ready(function(){
     $('.selectpicker').selectpicker();

     $('#skills').change(function(){
      $('#hidden_skills').val($('#skills').val());
     });

     $('#multiple_select_form').on('submit', function(event){
      event.preventDefault();
      if($('#skills').val() != '')
      {
       var form_data = $(this).serialize();
       $.ajax({
        url:"/users/{{user.id}}/userupdate",
        method:"POST",
        data:form_data,
        success:function(data)

       })
      }
      else
      {
       alert("Please select framework");
       return false;
      }
     });
    });
    </script>
{% endblock %}